mortality/figures.R
mortality/stan_diagnostics.R
SOK/SOK_fits.R
avoidance/figures.R
avoidance/stan_diagnostics.R
data/pixel_count_manual.csv
README_blind.txt
*/stan_fits

# ignore large files
*.rds
*.tsv
*.Rmd
*.bib
*.svg
*.Rhistory
*.RData
*.DS_store
*.Rproj.user
